SECRET_KEY=замените-на-длинную-случайную-строку
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000

DATABASE_NAME=wrt_db
DATABASE_USER=wrt_user
DATABASE_PASSWORD=ваш_пароль_postgresql
DATABASE_HOST=localhost
DATABASE_PORT=5432
